<ion-header>
  <ion-navbar>
    <ion-title>Recipes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="recipes && recipes.length > 0">
    <ion-item-sliding *ngFor="let recipe of recipes">
      <ion-item>
        {{recipe.name}}
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="presentRecipeModal(recipe)">+ Info</button>
        <button ion-button (click)="edit(recipe)">Edit</button>
        <button ion-button color="danger" (click)="remove(recipe)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="add()">
     <ion-icon name="add"></ion-icon>
   </button>
  </ion-fab>

  <p *ngIf="recipes && recipes.length == 0">
    No recipes available
  </p>

</ion-content>
